@model TajamarProyecto.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<div class="bg-white overflow-hidden shadow rounded-lg border mt-4">
    <div class="px-1 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            @Html.DisplayNameFor(model => model.Nombre)
        </h3>
        
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Nombre
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Correo
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Linkedin
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    @Html.DisplayFor(model => model.Linkedin)
                </dd>
            </div>
           
        </dl>
    </div>
    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Sus empresas
        </h3>
    </div>
    <div class="border-t border-gray-200 px-0 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Empresa 1
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    @Html.DisplayFor(model => model.Emp_1Id)
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Empresa 2
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    @Html.DisplayFor(model => model.Emp_2Id)
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Empresa 3
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    @Html.DisplayFor(model => model.Emp_3Id)
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Empresa 4
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    @Html.DisplayFor(model => model.Emp_4Id)
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Empresa 5
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    @Html.DisplayFor(model => model.Emp_5Id)
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Empresa 6
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    @Html.DisplayFor(model => model.Emp_6Id)
                </dd>
            </div>
        </dl>
    </div>
</div>
@* <div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdClase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Linkedin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Linkedin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TokenMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TokenMail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_1Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emp_1Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_2Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emp_2Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_3Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emp_3Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_4Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emp_4Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_5Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emp_5Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_6Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emp_6Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
 *@